
*{ box-sizing: border-box;
    font-family: 'Trebuchet MS';
   
}
/* HEADER FOOTER SETTINGS */
.navbar{
    background-color: white;
    z-index: 10;
    position: fixed;
    top: 0px;
    padding: 40px;
    right: 0px; left: 0px;
    max-width: 100%;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 10px gray;
    font-size: 17px;
}
a{
    color: black; text-decoration: none; 
    padding-left: 10px; padding-right: 10px;    
    transition: color 0.4s; 
}
a:hover{
    color: rgb(233, 30, 99);     
}
.div_left{
    float: left;
}
.div_right{
    float: right; 
}
footer{
    background-color: rgb(50, 52, 55);
    position: fixed;
    left: 0;
    right: 0; z-index: 100;
    bottom: 0; padding: 20px;
}
.div_leftf a, .div_leftf, .div_rightf{
    color: white;
}
.div_leftf a:hover{
    color: rgb(233, 30, 99);     
}
.div_rightf{float: right;}
.div_leftf{ float: left;}

/* MAIN CONTENT SETTINGS*/
.main-container{
    position: relative;
    top: 100px;
    margin-bottom: 200px;
    z-index: 1; overflow: hidden;
    scroll-behavior: smooth;
}
h2{ text-align: center;}
fieldset{
    border: 1px solid gray;
    margin-top: 40px;
     box-shadow: 0 0 10px gray; 
     padding: 15px;
     width: 95%;
     color: rgb(71, 70, 70);
}
.left-div{
    float: left;
    width: 47%;
    margin-left: 30px;
}
.right-div{
    float: right;
    width: 47%;
    margin-top: 40px;
    margin-right: 30px;
}
label{
    padding: 20px;
    color: rgb(71, 70, 70);
}
input{
    margin: 5px 20px 20px 20px;
    font-size: 20px; padding: 5px;
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(210, 210, 210);
    transition: border 0.4s;
    color: rgb(71, 70, 70);
   }
   select {
    margin: 5px 20px 20px 20px;
    font-size: 20px; padding: 5px;
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(210, 210, 210);
    transition: border 0.4s;
    color: rgb(71, 70, 70);
}
input[type="checkbox"],input[type="radio"]{
   width: auto;
}
input:focus, select:focus{
    border-bottom: 2px solid rgb(233, 30, 99);
}
.btn-collect{
    width: 100%; 
}
.div-col{
    width: 50%; 
    float: left;padding: 5px; 
}
.bgbtn{
	background-color: rgb(234,30,99); 
    border: 0;
    height: 60px;
    box-shadow: none; 
	color: white; 
	font-size: 20px;
    border-radius: 5px; 
	cursor: pointer;
}
.installment{
   display: none;
}
input[value="install"]:checked ~ .installment {
    display: block;
}